<h1>New Dojo</h1>

<form action='/dojos/' method='post'>
    <input type='text' name='dojo[branch]' placeholder='Dojo Branch'><br>
    <input type='text' name='dojo[street]' placeholder='Dojo Street'><br>
    <input type='text' name='dojo[city]' placeholder='Dojo City'><br>
    <input type='text' name='dojo[state]' placeholder='Dojo State'><br>
    <input type='submit' value='Create' />
</form>